@import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');

/*--Header Nav bar for ALL pages--*/
#home{
    color: #000000;
}

#home:hover{
    color: #000000;
    cursor: pointer;
}

#about-us{
    color: #edf0f1;
}

#about-us:hover{
    color: #000000;
    cursor: pointer;

}

#services{
    color: #edf0f1;
}

#services:hover{
    color: #000000;
    cursor: pointer;

}

li, a{
    font-family: 'Lexend', sans-serif;
    font-weight: 500;
    font-size: 25px;
    text-decoration: none;
}

nav{
    display: flex;
    justify-content: center;
    align-items:center;
    height:125px;
    background-color: #F38C75;
}

#logo img{
    position:absolute;
    height:75px;
    width:170px;
    left:50px;
    top:25px;
}

.nav_links {
    list-style: none;
}

.nav_links li{
    display:inline-block;
    padding: 0px 30px;
    text-decoration: none;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}



#account{
    position:absolute;
    height:65px;
    width:65px;
    background-color: #edf0f1;
    border-radius: 50%;
    border: 3px solid #000000;
    right:50px;
}



/*------------------------------------------Home page--------------------------------------------------*/

/*--Body --*/
body{
    background-color: #FAD983;
    margin:0px;
}

/*--Intro--*/
#intro{
    display:flex;
    flex-direction: row;
    height:500px;
    padding-bottom: 20px;
}


#welcome-text{
    display:flex;
    font-family: 'Lexend', sans-serif;
    height:500px;
    width:42%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    text-align: right;
}

#welcome-title{
    display:flex;
    justify-content: center;
    text-align: center;
    padding-bottom: 10px;
    font-size: 40px;
    font-weight: bold;
}

#welcome-desc{
    display:flex;
    justify-content: center;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
}

#welcome-img{
    display: flex;
    padding-left: 100px;
    padding-top:80px;
}
/*--Features area--*/
#features {
    display: flex;
    font-family: 'Lexend', sans-serif;
    height: 800px;
    flex-direction: column;
    padding-top: 20px;
    background-color: #ffe194;
}

#features-text{
    font-family: 'Lexend', sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin:10px;
    text-align: center;
}

.features-items{
    display:flex;
    justify-content: center;
    align-content: center;
    list-style: none;
    margin:10px;
}

.features-items li{
    display:inline-block;
    padding: 0px 30px;
    padding-top: 10px;
    cursor:pointer;
}

.features-items li a {
    transition: all 0.3s ease 0s;
}

.features-items button{
    font-family: 'Lexend', sans-serif;
    font-size: 21px;
    padding:9px 30px;
    border: none;
    background-color: rgba(156, 156, 156,1);
    border-radius: 50px;
    cursor:pointer;
    transition:all 0.3s ease 0s;
    color:white;
}

.features-items > button:hover{
    background-color: rgba(156,156,156,0.8);
    border:1px solid rgba(255,255,255,0.8);
}

#plan-button{
    background-color: #009444;
}



/*--Details of feature--*/
#info{
    display: flex;
    height:300px;
    flex-direction: row;
    padding-top: 50px;
}

.feature-desc{
    display:flex;
    flex-direction: column;
    height:500px;
    font-family: 'Lexend', sans-serif;
    padding-right: 20px;
    text-align: right;
    justify-content: center;
    align-items:flex-end;
    width:35%;
}

#feature-name{
    font-weight: bold;
    font-size: 33px;
}

#main-desc{
    font-size: 23px;
    
}


#feature-img{
    display: flex;
    height:500px;
    padding-left:100px;
}

/*--Advertise mobile app--*/
#mobile-app{
    display: flex;
    flex-direction: row;
    height: 600px;
    justify-content: center;
    align-items: center;
    text-align: right;
    background-color: #fae2a4;
}

#app-text{
    display: flex;
    font-family: 'Lexend', sans-serif;
    flex-direction: column;
    font-size: 25px;
    font-weight: 700;
    padding-right:0px;
    width: auto;
}

#app-img{
    display: flex;
    height: 500px;
    width: 50%;
    align-items: flex-start;
}

#app-img img{
    height:450px;
    width: 650px;
    align-self: center;
}


/*--Footer--*/
/*--Socials--*/
#company-info{
    display: flex;
    height:180px;
    background-color:#edf0f1;
    justify-content: center;
    align-content:center;
    font-family: 'Lexend', sans-serif;
    padding-top: 30px;
    flex-direction: row;
}



#about, #contact, #resource{
    display: flex;
    flex-direction: column;
    width:250px;
    align-items: center;
}

#about-title, #contact-title,  #resource-title{
    font-size: 20px;
    font-weight: 500; 
    color:rgba(236, 60, 60, 1)
}

.contact-info, .about-info, .resource-info{
    padding: 10px;
    color:black;
    font-size: 11px;
}

.about-info:hover, .resource-info:hover{
    text-decoration: underline rgba(152, 152, 152, 1);
    cursor:pointer;
}

#social-media{
    display: flex;
    flex-direction: row;
    background-color:#edf0f1;
    justify-content: space-between;
    align-items: center;
    width:auto;
    height:100px;
    border-bottom: 2px solid rgba(152, 152, 152, 0.3);
}

#socials-logo{
    display: flex;
    height: 65px;
    width: 160px;
    padding-left:30px;
}

#socials-icons{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right:30px;
}

#facebook-icon{
    height:35px;
    width:35px;
    padding:20px;
}

#instagram-icon{
    height:37px;
    width:36px;
    padding:20px;
}

#x-icon{
    height:35px;
    width:35px;
    padding:20px;
}

/*-------------------------------------About us page---------------------------------------------------*/
#about-info{
    display: flex;

    align-items: center;
    font-family: 'Lexend', sans-serif;
    flex-direction: column;
    background-color: rgba(237,240,241,0.2);
    width:85%;
    margin:30px auto 0;
    border-radius: 20px;
    height:500px;
}

#about-header{
    display: flex;
    font-size: 40px;
    height: 100px;
    padding-top: 50px;
    font-weight: 500;
    text-decoration: underline;
}

#about-navbar{
    display: flex;
    flex-direction: row;
    font-size: 18px;
    height: 50px;
    justify-content: center;
}

#history, #FAQ, #become-a-member{
    display: flex;
    justify-content: center;
    padding: 10px;
    width: 180px;
}

#history:hover, #FAQ:hover, #become-a-member:hover{
    cursor: pointer;
}

#about-MONEE{
    display: flex;
    justify-content: center;
    padding: 10px;
    width: 180px;
    border-bottom: 2px solid #000000;
    background-color: rgba(255,255,255,0.5);
    cursor: pointer;
}

#about-content{
    display: flex;
    flex-direction: column;
    height:160px;
    margin-right: 224px;
    width: 55%;
    line-height: 1.5;
    padding-top: 20px;
    font-size: 16px;
}



