@import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');


/*--Header Nav bar--*/
li, a{
    font-family: 'Lexend', sans-serif;
    font-weight: 500;
    font-size: 25px;
    color: #edf0f1;
    text-decoration: none;
}

nav{
    display: flex;
    justify-content: center;
    align-items:center;
    height:125px;
    background-color: #F38C75;
}

#logo img{
    position:absolute;
    height:75px;
    width:170px;
    left:50px;
    top:30px;
}

.nav_links {
    list-style: none;
}

.nav_links li{
    display:inline-block;
    padding: 0px 30px;
    cursor:pointer;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover{
    color: #000000;
}

#account{
    position:absolute;
    height:65px;
    width:65px;
    background-color: #edf0f1;
    border-radius: 50%;
    border: 3px solid #000000;
    right:50px;
}


/*--Body --*/
body{
    background-color: #FAD983;
}
/*--Intro--*/
#intro{
    display:flex;
    flex-direction: row;
    height:500px;
}


#welcome-text{
    display:flex;
    font-family: 'Lexend', sans-serif;
    height:500px;
    width:45%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    text-align: right;
}

#welcome-title{
    display:flex;
    justify-content: center;
    text-align: center;
    padding-right:20px;
    padding-bottom: 10px;
    font-size: 40px;
    font-weight: bold;
}

#welcome-desc{
    display:flex;
    justify-content: center;
    text-align: center;
    padding-right:20px;
    font-size: 30px;
    font-weight: 600;
}
/*--Features area--*/
#features {
    display: flex;
    font-family: 'Lexend', sans-serif;
    height: 500px;
    flex-direction: column;
}

#features-text{
    font-family: 'Lexend', sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin:10px;
    text-align: center;
}

.features-items{
    display:flex;
    justify-content: center;
    align-content: center;
    list-style: none;
    margin:10px;
}

.features-items li{
    display:inline-block;
    padding: 0px 30px;
    cursor:pointer;
}

.features-items li a {
    transition: all 0.3s ease 0s;
}

button{
    font-family: 'Lexend', sans-serif;
    font-size: 21px;
    padding:9px 30px;
    border: none;
    background-color: rgba(156, 156, 156,1);
    border-radius: 50px;
    cursor:pointer;
    transition:all 0.3s ease 0s;
    color:white;
}

button:hover{
    background-color: rgba(156,156,156,0.8);
    border:1px solid rgba(255,255,255,0.8);
}

/*--Details of feature--*/
#info{
    display: flex;
    height:300px;
    flex-direction: row;
}

.feature-desc{
    display:flex;
    flex-direction: column;
    height:300px;
    width:40%;
    font-family: 'Lexend', sans-serif;
    padding-right: 20px;
    text-align: right;
    justify-content: center;
    align-items: flex-end;
}

.feature-name{
    display: flex;
    font-weight: bold;
    font-size: 33px;
    justify-content: center;
    text-align: center;
    padding-right: 168px;
}

.main-desc{
    display: flex;
    justify-content: right;
    align-content: center;
    font-size: 23px;

}


.feature-img{
    display: flex;
    width:60%;

}






