@import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');


/*--Header Nav bar--*/
li, a{
    font-family: 'Lexend', sans-serif;
    font-weight: 500;
    font-size: 25px;
    color: #edf0f1;
    text-decoration: none;
}

nav{
    display: flex;
    justify-content: center;
    align-items:center;
    height:125px;
    background-color: #F38C75;
}

#logo img{
    position:absolute;
    height:75px;
    width:170px;
    left:50px;
    top:25px;
}

.nav_links {
    list-style: none;
}

.nav_links li{
    display:inline-block;
    padding: 0px 30px;
    cursor:pointer;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover{
    color: #000000;
}

#account{
    position:absolute;
    height:65px;
    width:65px;
    background-color: #edf0f1;
    border-radius: 50%;
    border: 3px solid #000000;
    right:50px;
}


/*--Body --*/
body{
    background-color: #FAD983;
    margin:0px;
}

/*--Intro--*/
#intro{
    display:flex;
    flex-direction: row;
    height:500px;
}


#welcome-text{
    display:flex;
    font-family: 'Lexend', sans-serif;
    height:500px;
    width:42%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    text-align: right;
}

#welcome-title{
    display:flex;
    justify-content: center;
    text-align: center;
    padding-bottom: 10px;
    font-size: 40px;
    font-weight: bold;
}

#welcome-desc{
    display:flex;
    justify-content: center;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
}

#welcome-img{
    display: flex;
    padding-left: 100px;
    padding-top:80px;
}
/*--Features area--*/
#features {
    display: flex;
    font-family: 'Lexend', sans-serif;
    height: 800px;
    flex-direction: column;
    padding-top: 10%;
}

#features-text{
    font-family: 'Lexend', sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin:10px;
    text-align: center;
}

.features-items{
    display:flex;
    justify-content: center;
    align-content: center;
    list-style: none;
    margin:10px;
}

.features-items li{
    display:inline-block;
    padding: 0px 30px;
    padding-top: 10px;
    cursor:pointer;
}

.features-items li a {
    transition: all 0.3s ease 0s;
}

button{
    font-family: 'Lexend', sans-serif;
    font-size: 21px;
    padding:9px 30px;
    border: none;
    background-color: rgba(156, 156, 156,1);
    border-radius: 50px;
    cursor:pointer;
    transition:all 0.3s ease 0s;
    color:white;
}

button:hover{
    background-color: rgba(156,156,156,0.8);
    border:1px solid rgba(255,255,255,0.8);
}

#plan-button{
    background-color: #009444;
}



/*--Details of feature--*/
#info{
    display: flex;
    height:300px;
    flex-direction: row;
    padding-top: 50px;
}

.feature-desc{
    display:flex;
    flex-direction: column;
    height:500px;
    font-family: 'Lexend', sans-serif;
    padding-right: 20px;
    text-align: right;
    justify-content: center;
    align-items:flex-end;
    width:35%;
}

#feature-name{
    font-weight: bold;
    font-size: 33px;
}

#main-desc{
    font-size: 23px;
    
}


#feature-img{
    display: flex;
    height:500px;
    padding-left:100px;
}

/*--Advertise mobile app--*/
#mobile-app{
    display: flex;
    flex-direction: row;
    height: 600px;
    justify-content: center;
    align-items: center;
    text-align: right;
}

#app-text{
    display: flex;
    font-family: 'Lexend', sans-serif;
    font-size: 25px;
    font-weight: 700;
    padding-right:30px;
}

#app-img{
    display: flex;
    text-align: center;
    height: 300px;
}


/*--Footer-->*/
/*--Socials--*/
#socials{
    display: flex;
    height:200px;
    background-color: 009444;
    justify-content: center;
    align-content:center;
    font-family: 'Lexend', sans-serif;
    padding-top: 30px;
    flex-direction: row;
}

#contact{
    display: flex;
    flex-direction: column;
    width:250px;
    align-items: center;
}

#contact-title, #socials-title{
    font-size: 25px;
    font-weight: 500; 
    color:#edf0f1;
}

.contact-info{
    padding: 10px;
}

#social-media{
    display: flex;
    flex-direction: column;
    width: 250px;
    align-items: center;
}

#socials-icons{
    display: flex;
    flex-direction: row;
}

#facebook-icon{
    height:35px;
    width:35px;
    padding:20px;
}

#instagram-icon{
    height:37px;
    width:36px;
    padding:20px;
}

#x-icon{
    height:35px;
    width:35px;
    padding:20px;
}

